<h1>Lista de clientes</h1>

<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ej. carrefour" #input>
</mat-form-field>

<div>
  <mat-table class="items-table mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Nº </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Dirección </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.address}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="postalCode">
      <mat-header-cell *matHeaderCellDef> Cód. Postal </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.postalCode}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> Población </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.city}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="county">
      <mat-header-cell *matHeaderCellDef> Provincia </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.county}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="onRowClicked(row)"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>

<div>
  <button mat-raised-button color="primary" (click)="onAcceptButton()">Aceptar</button>
  <button mat-raised-button (click)="onCancelButton()">Cancelar</button>
</div>
